{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "plugins": ["react", "react-native"],
  "env": {
    "es6": true,
    "react-native/react-native": true
  },
  "globals": {
    "$Keys": false
  },
  "rules": {
    "comma-dangle": [
      1,
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "curly": [1, "all"],
    "indent": [1, 2],
    "max-len": [1, 120],
    "no-console": 0,
    "no-unused-vars": 0,
    "quotes": [1, "single", { "avoidEscape": true }],
    "react-native/no-unused-styles": 1,
    "react-native/split-platform-components": 0,
    "react-native/no-inline-styles": 1,
    "react-native/no-color-literals": 0,
    "semi": [1, "always"],
    "react/prop-types": 0
  }
}
